#loading_box{
    width: 850px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: tomato;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 250px;
  height: 250px;
  margin: -105px 0 0 -105px;
  border: 16px solid #2b3c7e; 
  border-radius: 50%;
  border-top: 16px solid #2271b0;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }